/* 화살표 모양 */
.triangle {display:inline-block; width:0; height:0; border-style:solid; border-width:4px;}
.triangle.test_1 {border-color:#ffffff transparent transparent transparent;}
/* 출처: https://uidevelop.tistory.com/46 [UI Develop] */


/* HEADER */
header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: url("https://www.solaseado.com/images/main-monet.jpg"); 
    background-position: center center;
    background-size: cover;
}
header .fix-header {
    width: 100%;
    /* position: fixed; */
    /* background-color: rgba(4, 7, 57, 0.9); */
}
.header_nav {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav .main_logo a img {
    
}
.header_nav .right_menu {
    display: flex;
    width: 901px;
    justify-content: space-between;  
}
.header_nav .main_menu {
    width: 695px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.header_nav .main_menu li:nth-child(4) {
    margin-right: 10px;
}
.header_nav .main_menu li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px 10px;
}
.header_nav .main_menu li a:hover {
    color: #C6A381;
}
.header_nav .side_menu {
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
.header_nav .side_menu li {
    width: 100%;
}
.header_nav .side_menu a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    text-align: center;
}
.header_nav .side_menu a:hover {
    background: #0738B3;
    border-radius: 30px;
}

header .inner {
    max-width: 1140px;
    height: 90vh;
    margin: 0 auto;
    padding-top: 20%;
    box-sizing: border-box;
}
header .inner .script {
    max-width: 850px;
}
header .inner .title {
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    word-break: keep-all;
}
header .inner .description {
    display: flex;
}
header .inner .description li {
    margin-right: 25px;
}
header .inner .description li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}


/* BODY */
.introduce {
    padding: 90px 50px;
}
.introduce .about {
    display: flex;
    justify-content: space-between;
}
.introduce .about__left {
    margin-right: 20px;
    padding-top: 60px;
    padding-left: 20px;
    width: 100%;
}
.introduce .about__left .title {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid;
}
.introduce .about__left .description {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.5;
}
.introduce .about__left .about__btn {
    display: flex;
}
.introduce .about__left .about__btn li {

}
.introduce .about__left .about__btn li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    display: block;
    padding: 15px 10px;
    margin-right: 5px;
    background-color: rgb(16,91,212);
}
.introduce .about__right {
    max-width: 540px;
    max-height: 359px;
    flex-grow: 1;
}
.introduce .about__right img {
    width: 540px;
    height: 359px;
}

.introduce .why {
    margin-top: 100px;
}
.introduce .why .title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-left: 20px;
    display: inline-block;
    border-bottom: 1px solid;
}
.introduce .why .tiles {
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.introduce .why .tiles li {
    box-sizing: border-box;
    padding: 0 20px;
}
.introduce .why .tiles li:nth-child(1) {
    padding-top: 70px;
}
.introduce .why .tiles li:nth-child(2) {
    padding-top: 20px;
}
.introduce .why .tiles li:nth-child(3) {
    padding-top: 100px;
}
.introduce .why .tiles li:nth-child(4) {

}
.introduce .why .tiles li a {
    text-decoration: none;
    
}
.introduce .why .tiles li a img {
    margin-bottom: 20px;
}
.introduce .why .tiles li:nth-child(1) a img {
    width: 255px;
    height: 255px;
}
.introduce .why .tiles li:nth-child(2) a img {
    width: 255px;
    height: 350px;
}
.introduce .why .tiles li:nth-child(3) a img {
    width: 255px;
    height: 310px;
}
.introduce .why .tiles li:nth-child(4) a img {
    width: 255px;
    height: 254px;
}
.introduce .why .tiles li a .tiles__title {
    color: black;
    font-size: 15px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.introduce .why .tiles li .tiles__description {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.4;
}

/* TRIP */
.trip {
    padding: 60px 50px;
    background-color: #F3F8FB;
}
.trip .title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-left: 20px;
    display: inline-block;
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
.trip .description {
    padding-left: 20px;
    color: #8484A4;
    margin-bottom: 25px;
}
.trip .trip__tiles {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}
.trip .trip__tiles li {
}
.trip .trip__tiles li a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.trip .trip__tiles li a img {
    width: 198px;
    height: 198px;
    margin-bottom: 20px;
}
.trip .trip__tiles li a .trip__tiles__description {
    font-size: 17px;
    font-weight: 700;
}

/* LAB */
body .lab {
    background-color: #393F7D;
    padding: 60px 0;
}
body .lab a {
    display: block;
    width: 1170px;
    height: 455px;
    margin: 0 auto;
}
body .lab img {
    
}
